In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
sns.set(color_codes=True)
warnings.filterwarnings("ignore")

In [8]:
user=pd.read_csv('user_table.csv')

In [9]:
user.head()

   user_id sex  age    country
0   765821   M   20     Mexico
1   343561   F   27  Nicaragua
2   118744   M   23   Colombia
3   987753   F   27  Venezuela
4   554597   F   20      Spain

In [4]:
test=pd.read_csv('test_table.csv')

In [5]:
test.head()

,user_id,date,source,device,browser_language,ads_channel,browser,conversion,test
0,315281,2015-12-03,Direct,Web,ES,NaN,IE,1,0
1,497851,2015-12-04,Ads,Web,ES,Google,IE,0,1
2,848402,2015-12-04,Ads,Web,ES,Facebook,Chrome,0,0
3,290051,2015-12-03,Ads,Mobile,Other,Facebook,Android_App,0,1
4,548435,2015-11-30,Ads,Web,ES,Google,FireFox,0,1

In [10]:
df=pd.merge(test,user,how='left',on='user_id')

In [11]:
df.conversion.value_counts()

0    430846
1     22475
Name: conversion, dtype: int64

In [12]:
df[df.test==1].conversion.value_counts()

0    206604
1      9379
Name: conversion, dtype: int64

In [13]:
df[df.test==0].conversion.value_counts()

0    224242
1     13096
Name: conversion, dtype: int64